.center{

    text-align: center;


}


body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.rain {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 255, 0.5);
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100%);
    }
}
