.center{

    text-align: center;


}


body{
    /* height: 100%; */
    margin: 0;
    /* overflow: hidden; */

    background-image: url("https://images.pexels.com/photos/10913481/pexels-photo-10913481.jpeg?auto=compress&cs=tinysrgb&w=1160&h=9750&dpr=1");
   
    background-size: cover;
    background-repeat: no-repeat;  
background-attachment: fixed;  
background-position: center;   
}

.text-center{

    color: aliceblue;

}

